.home-cta-bar-container.accent
  .content-width
    .home-cta-bar
      .text
        Ironclad security for the modern war on terror
      .home-cta-bar-button
        %a.button.transparent{:href => "#"}
          %i.fa.fa-info>
          Learn More
