.topbar-outer.dark
  .topbar.content-width
    .table.fullheight
      .table-cell.fullheight.middle
        .wordmark
          WhiteHorse
    = render partial: 'shared/social_header'
    = render partial: 'shared/nav'
= render partial: 'shared/slider'
= render partial: 'shared/accent_bar'
