%ul.topnav
  %li
    %a.current{:href => "/"} Home
  %li
    %a{:href => '#'} About Us
  / %li
  /   %a.drop{:href => "portfolio.html"} Portfolio
  /   %ul
  /     %li
  /       %a{:href => "portfolio.html"} 4 Column Portfolio
  /     %li
  /       %a{:href => "portfolio-3-columns.html"} 3 Column Portfolio
  /     %li
  /       %a{:href => "portfolio-detail.html"} Portfolio Detail
  / %li
  /   %a.drop{:href => "blog.html"} Blog
  /   %ul
  /     %li
  /       %a{:href => "blog.html"} Article List
  /     %li
  /       %a{:href => "blog-post.html"} Blog Post
  / %li
  /   %a{:href => "shortcodes.html"} Shortcodes
  / %li
  /   %a{:href => "contact.html"} Contact Us
%a.mobilenav-click{:href => "#"}
  .mobilenav-button-container
    .mobilenav-button-inner
      .mobilenav-button
.mobilenav-container
  %ul.mobilenav
