.home-banner.dark
  %ul#home-slider.slider-container
    %li.slide-outer
      .slide-inner
        .content-width
          .slide-style-2
            .icon-container
              %img{:alt => "", :src => "/assets/client-logos/whitehorse.png"}/
            %h1
              WHITEHORSE
            %p Global security for the modern coorperation
    %li.slide-outer
      .slide-inner
        .content-width
          .slide-style-1
            %h1
              Super Clean Corporate &amp; Portfolio
              %span HTML
              Theme
              %span .
            %p Bang up to date styling with flat UI, touch swipe  enabled sliders / carousels and super intelligent coding.
    %li.slide-outer
      .slide-inner
        .content-width
          .slide-style-3
            .left-column
              %h1
                WHITEHORSE
                %span .
              %p Security. Done Right.
              %a.button.accent{:href => "#"}
                %i.fa.fa-info-circle>
                More Info
              %a.button.white{:href => "#"}
                %i.fa.fa-envelope>
                Contact Us
            .right-column
              %img{:alt => "", :src => "/assets/iphone-image.png"}/
  .slider-nav-container
    .slider-nav-inner
      .slider-nav.content-width
        %ul#bx-pager
          %li
            %a{"data-slide-index" => "0", :href => ""} Super Clean Template
          %li
            %a{"data-slide-index" => "1", :href => ""} Ultra Responsive Layout
          %li
            %a{"data-slide-index" => "2", :href => ""} Unlimited Colors
        .slider-controls
          #slider-pause
          #slider-prev
          #slider-next
