%ul.topsocial
  %li
    %a{:href => "#"}
      %i.fa.fa-linkedin-square
      .tooltip LinkedIn
  %li
    %a{:href => "#"}
      %i.fa.fa-facebook
      .tooltip Facebook
  %li
    %a{:href => "#"}
      %i.fa.fa-twitter
      .tooltip Twitter
  %li
    %a{:href => "#"}
      %i.fa.fa-google-plus
      .tooltip Google+
